<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controller.auth.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountController</servlet-name>
        <servlet-class>controller.account.ListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessDeniedController</servlet-name>
        <servlet-class>controller.auth.AccessDeniedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailController</servlet-name>
        <servlet-class>controller.account.AccountDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>controller.account.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.account.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>controller.account.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountController</servlet-name>
        <servlet-class>controller.account.MyAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.account.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>controller.inventory.ListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategoryController</servlet-name>
        <servlet-class>controller.inventory.ListCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>controller.inventory.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryController</servlet-name>
        <servlet-class>controller.inventory.CreateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCategoryInUseController</servlet-name>
        <servlet-class>controller.inventory.CheckCategoryInUseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InactiveCategoryController</servlet-name>
        <servlet-class>controller.inventory.InactiveCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountController</servlet-name>
        <url-pattern>/account/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessDeniedController</servlet-name>
        <url-pattern>/access-denied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailController</servlet-name>
        <url-pattern>/account/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/account/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/account/reset-pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/account/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountController</servlet-name>
        <url-pattern>/myaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/change-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/product/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategoryController</servlet-name>
        <url-pattern>/category/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/category/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryController</servlet-name>
        <url-pattern>/category/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCategoryInUseController</servlet-name>
        <url-pattern>/category/check-to-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InactiveCategoryController</servlet-name>
        <url-pattern>/category/inactive</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
