@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;700&display=swap");

/* declare variable */
:root {
    --primary-color: #4169e1;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}
/* common */
* {
    box-sizing: inherit;
}
html {
    font-size: 100%; /* = 16px */
    line-height: 1rem;
    font-family: "Ubuntu", "Roboto", Arial, sans-serif;
    box-sizing: border-box;
}

input[type=text],
input[type=date],
input[type=time],
input[type=password],
input[type=email],
textarea,
select{
    background: none;
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 8px 5px;
    resize: none;
    margin-right: 10px;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus,
select:focus{
    border-bottom: 1px solid var(--primary-color);
    outline: none;
}
.button{
    display: inline-block;
    border: none;
    border-radius: 2px;
    padding: 0 5px;
    min-width: 160px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
}
.button--small{
    display: inline-block;
    border: none;
    border-radius: 2px;
    padding: 0 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.button--transparent{
    background-color: transparent;
}
.button--primary{
    background: var(--primary-color);
    color: var(--white-color);
}
.button--red{
    background: red;
    color: var(--white-color);
}
.button--green{
    background: green;
    color: var(--white-color);
}
.button--disable{
    cursor: default;
}
.link--disable{
    color: #777 !important;
    cursor: default !important;
}
.errorMsg{
    color: red
}

.pagger{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.pagger__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}
.pagger__link--active{
    background: var(--primary-color);
    color: var(--white-color);
}

.app {
    overflow: hidden;
}
/* header */
.header {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    position: fixed;
}
.header__logo {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--black-color);
}
.header__logo span {
    color: var(--white-color);
}
.header__navbar-list {
    display: flex;
    list-style: none;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
}
.header__navbar-item {
    margin-right: 36px;
}
.header__navbar-link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
}
.navbar-user__container {
    position: relative;
    margin-right: 0;
}
.navbar-user__container:hover .navbar-user {
    transform: scale(1);
    opacity: 1;
}
.navbar-user {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    min-width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 160px;
    z-index: 99;
    box-shadow: 0 1px 2px #bbb;
    transform-origin: top;
    transform: scale(0);
    opacity: 0;
    transition: all ease-in 0.2s;
}
.navbar-user__list {
    list-style: none;
    padding: 0;
}
.navbar-user__link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px 12px;
}
.navbar-user__link:hover {
    color: var(--primary-color);
}
/* Content */
.content {
    background: #d7e9f7;
    padding-top: 50px;
    font-family: "Ubuntu", sans-serif;
    padding-right: 20px;
}
.content__nav {
    background-color: #222d32;
    color: var(--white-color);
    height: 100%;
}
.content__nav-header {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.content__nav-title {
    background-color: #1a2226;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 8px 8px 8px 20px;
    margin: 0;
}
.content__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content__nav-item {
    width: 100%;
}
.content__nav-link {
    text-decoration: none;
    color: var(--white-color);
    width: 100%;
    display: block;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 5px 10px 0 40px;
    margin-bottom: 10px;
}
/*Home*/
.content-home {
    padding-top: 20px;
}
.content-home__top-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: white;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 80px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.content-home__top-link--green {
    background-color: rgb(0, 128, 0);
    color: var(--white-color);
}
.content-home__top-link--red {
    background-color: rgb(216, 22, 22);
    color: var(--white-color);
}
.content-home__top-link--orange {
    background-color: rgb(228, 160, 33);
    color: var(--white-color);
}
.content-home__top-link--blue {
    background-color: rgb(49, 111, 182);
    color: var(--white-color);
}
.content-home__banner {
    margin-top: 30px;
}
.content-home__banner-img {
    width: 100%;
    height: 500px;
}

/*List account*/
.content__list-account-table{
    width: 100%;
}
.content__list-account-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-account-header{
    text-align: left;
    font-weight: 700;
    width: 20%;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-account-col{
    width: 20%;
    padding: 10px 5px;
    border-bottom: 2px solid #ccc;
}
.content__list-account-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
}

/*Account detail*/
.content__account-detail{
    display: flex;
}
.content__account-detail-table{
    max-width: 50%
}
.content__account-detail-title,
.content__account-detail-data{
    padding: 5px 0;
}
.content__account-detail-title{
    font-weight: 700;
    width: 150px;
}
.content__account-detail-data input{
    min-width: 250px;

}
.content__account-detail-data input[type=checkbox]{
    min-width: unset;
}
.content__account-detail-permission{
    flex: 1;
    margin-left: 50px;
}
.content__account-detail-permission p{
    padding-top: 16px;
    margin: 0;
}
.content__account-detail-permission label{
    display: inline-block;
    padding: 8px 5px
}

/*Inventory*/
.content__tab-table{
    width: 100%;
}
.content__tab-row{
    width: 100%;
}
.content__tab-col{
    border-bottom: 2px solid #aaa;
    width: 33%;
}
.content__tab-col--active{
    border-bottom-color: orangered;
}
.content__tab-link{
    text-decoration: none;
    display: block;
    width: 100%;
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    padding: 10px 0;
    font-weight: 500;
}
.content__tab-col--active .content__tab-link{
    font-weight: 600;
}

.content__create-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 10px 5px;
}

/*List category*/
.content__list-category-table{
    width: 100%;
    table-layout:fixed;
}
.content__list-category-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-category-header{
    text-align: left;
    font-weight: 700;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-category-col{
    padding: 10px 5px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__list-category-header:nth-child(1),
.content__list-category-col:nth-child(1){
    width: 10%;
}
.content__list-category-header:nth-child(2),
.content__list-category-col:nth-child(2){
    width: 30%;
}
.content__list-category-header:nth-child(3),
.content__list-category-col:nth-child(3){
    width: 55%;
}
.content__list-category-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*List supplier*/
.content__list-supplier-table{
    width: 100%;
    table-layout:fixed;
}
.content__list-supplier-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-supplier-header{
    text-align: left;
    font-weight: 700;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-supplier-col{
    padding: 10px 5px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__list-supplier-header:nth-child(1),
.content__list-supplier-col:nth-child(1){
    width: 30%;
}
.content__list-supplier-header:nth-child(2),
.content__list-supplier-col:nth-child(2){
    width: 20%;
}
.content__list-supplier-header:nth-child(3),
.content__list-supplier-col:nth-child(3){
    width: 10%;
}
.content__list-supplier-header:nth-child(4),
.content__list-supplier-col:nth-child(4){
    width: 10%;
}
.content__list-supplier-header:nth-child(5),
.content__list-supplier-col:nth-child(5){
    width: 25%;
}
.content__list-supplier-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*List product*/
.content__product-function{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.content__product-function-form{
    display: flex;
    align-items: center;
}
.content__product-function-title{
    padding-right: 10px;
}
.content__list-product-table{
    width: 100%;
    table-layout:fixed;
    align-items: center;
}
.content__list-product-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-product-header{
    text-align: left;
    font-weight: 700;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-product-col{
    padding: 10px 5px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__list-product-header:nth-child(1),
.content__list-product-col:nth-child(1){
    width: 10%;
}
.content__list-product-header:nth-child(2),
.content__list-product-col:nth-child(2){
    width: 30%;
}
.content__list-product-header:nth-child(3),
.content__list-product-col:nth-child(3){
    width: 10%;
}
.content__list-product-header:nth-child(4),
.content__list-product-col:nth-child(4){
    width: 25%;
}
.content__list-product-header:nth-child(5),
.content__list-product-col:nth-child(5){
    width: 10%;
}
.content__list-product-header:nth-child(6),
.content__list-product-col:nth-child(6){
    width: 10%;
}
.content__list-product-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*List receipt*/
.content__list-receipt-table{
    width: 100%;
    table-layout:fixed;
    align-items: center;
}
.content__list-receipt-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-receipt-header{
    text-align: left;
    font-weight: 700;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-receipt-col{
    padding: 5px 5px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__list-receipt-header:nth-child(1),
.content__list-receipt-col:nth-child(1){
    width: 8%;
}
.content__list-receipt-header:nth-child(2),
.content__list-receipt-col:nth-child(2){
    width: 20%;
}
.content__list-receipt-header:nth-child(3),
.content__list-receipt-col:nth-child(3){
    width: 5%;
}
.content__list-receipt-header:nth-child(4),
.content__list-receipt-col:nth-child(4){
    width: 9%;
    text-align: right;
}
.content__list-receipt-header:nth-child(5),
.content__list-receipt-col:nth-child(5){
    width: 7%;
    text-align: right;
}
.content__list-receipt-header:nth-child(6),
.content__list-receipt-col:nth-child(6){
    width: 15%;
}
.content__list-receipt-header:nth-child(7),
.content__list-receipt-col:nth-child(7){
    width: 15%;
}
.content__list-receipt-header:nth-child(8),
.content__list-receipt-col:nth-child(8){
    width: 18%;
}
input[type="text"].content__list-receipt-col-input,
input[type="date"].content__list-receipt-col-input{
    width: 100%;
    padding: 0 5px;
    border: none;
}
.content__list-receipt-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*List delivery*/
.content__list-delivery-table{
    width: 100%;
    table-layout:fixed;
    align-items: center;
}
.content__list-delivery-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-delivery-header{
    text-align: left;
    font-weight: 700;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-delivery-col{
    padding: 5px 5px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__list-delivery-header:nth-child(1),
.content__list-delivery-col:nth-child(1){
    width: 10%;
}
.content__list-delivery-header:nth-child(2),
.content__list-delivery-col:nth-child(2){
    width: 30%;
}
.content__list-delivery-header:nth-child(3),
.content__list-delivery-col:nth-child(3){
    width: 5%;
}
.content__list-delivery-header:nth-child(4),
.content__list-delivery-col:nth-child(4){
    width: 10%;
    text-align: right;
}
.content__list-delivery-header:nth-child(5),
.content__list-delivery-col:nth-child(5){
    width: 10%;
    text-align: right;
}
.content__list-delivery-header:nth-child(6),
.content__list-delivery-col:nth-child(6){
    width: 30%;
}
input[type="text"].content__list-delivery-col-input,
input[type="date"].content__list-delivery-col-input{
    width: 100%;
    padding: 0 5px;
    border: none;
}
.content__list-delivery-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Report/list*/
.content__report{
    margin-top: 20px;
}
.content__report-link{
    display: block;
    width: 100%;
    height: 200px;
    background: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 1px 2px #bbb;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 20px;
}
.content__report-link-icon{
    width: 40px;
    margin: 20px 0;
}
.content__report-link-title{
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 8px;
}
.content__report-link-desc{
    margin: 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}
.content__report-banner-img{
    object-fit: cover;
    width: 100%;
}

/*List receipt-report*/
.content__list-receipt-report-table{
    width: 100%;
    table-layout:fixed;
}
.content__list-receipt-report-row{
    width: 100%;
    border-bottom: 2px solid #ccc;
}
.content__list-receipt-report-header{
    text-align: left;
    font-weight: 700;
    padding: 10px 5px;
    border-bottom: 2px solid var(--primary-color);
}
.content__list-receipt-report-col{
    padding: 10px 5px;
    border-bottom: 2px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content__list-receipt-report-header:nth-child(1),
.content__list-receipt-report-col:nth-child(1){
    width: 10%;
}
.content__list-receipt-report-header:nth-child(2),
.content__list-receipt-report-col:nth-child(2){
    width: 15%;
}
.content__list-receipt-report-header:nth-child(3),
.content__list-receipt-report-col:nth-child(3){
    width: 20%;
}
.content__list-receipt-report-header:nth-child(4),
.content__list-receipt-report-col:nth-child(4){
    width: 30%;
}
.content__list-receipt-report-header:nth-child(5),
.content__list-receipt-report-col:nth-child(5){
    width: 15%;
}
.content__list-receipt-report-col:nth-child(5){
    text-align: right;
}
.content__list-receipt-report-link{
    text-decoration: none;
    color: orangered;
    display: block;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Footer */
.footer {
    border-top: 2px solid var(--primary-color);
}
.copyright {
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-color);
}
.copyright a {
    text-decoration: none;
    color: var(--primary-color);
}
